html, body{
  margin: 0;
  border: 0;
  padding: 0;
  background-color: rgb(24,24,24);
}
.header{
  width: 100%;
  height: 80px;
  background-color: black;

}
.logo{
   margin-top: 15px;
   margin-left: 40px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: white;
}
.logo:hover{
  cursor: pointer;
}
.nav-bar, .logo{
 display: inline-block;
}
.nav-bar ul{
  list-style-type: none;
  margin-top: -35px;
}
.nav-bar li, .dropdown, .right {
  display: inline;
  float: left;
}
.nav-bar li a{
    text-decoration: none;
    color: rgb(216, 216, 216);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    -webkit-transition: 0.8s;
    transition: 0.8s;
}
.nav-bar a:hover{
  color: white;
}
.nav-bar a{
  margin-left: 40px;
}
.right{
  margin-left: 620px;
}

.dropdown{
  position: relative;
}
.dropdown-menu{
  left: 65%;
  transform: translate(-50%, 0%);
  background-color: black;
  width: 131px;
  min-height: 320px;
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown-menu a{
  transform: translate(-31%, 0%);
  width: 100px;
  font-size: 12px;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  display: block;
  border: .5px solid rgb(208, 208, 208);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.dropdown:hover .dropdown-menu{
  display: block;
}
.dropdown-menu a:hover{
  color: black;
  background-color: white;
}
.nav-menu1{
  width: 21%;
  height: 800px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style-type: none;
  position: relative;
}
.nav-menu1 ul{
  height: 100%;
  list-style-type: none;
}
.nav-menu1 li{
  height: 50px;
}
.nav-menu1 li a{
  padding: 10px 25px;
}
.nav-menu1 a{
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: rgb(216, 216, 216);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.nav-menu1 li a.active{
  background-color: rgb(216, 216, 216);
  color: black;
  border-radius: 6px;
}
.nav-menu1 a:hover:not(.active){
  background-color: rgb(216, 216, 216);
  color: black;
  border-radius: 6px;
}
.nav-menu2{
  width: 21%;
  padding: 0px;
  overflow: hidden;
  list-style-type: none;
  position: absolute;
}
.nav-menu2 ul{
  margin-top: 50px;
  list-style-type: none;
}
.nav-menu2 li a{
  padding: 10px 25px;
}
.nav-menu2 li{
  color: rgb(216, 216, 216);
  height: 50px;
}
.nav-menu2 a{
  text-decoration: none;
  font-size: 20px;
  color: rgb(216, 216, 216);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.nav-menu2 a:hover{
  background-color: rgb(216, 216, 216);
  color: black;
  border-radius: 6px;
}
.content{
  margin-top: -870px;
  margin-left: 21%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 50px;

}
iframe{
  border: 3px solid white;
  border-radius: 15px;
}
 h1 {
  padding-top: 30px;
  font-size: 40px;
  color: rgb(216, 216, 216);
}
h3 {
 font-size: 30px;
 color: rgb(216, 216, 216);
}
p {
  font-size: 20px;
  color: rgb(216, 216, 216);
}
#bottom{
  padding-bottom: 40px;
}
#example1{
  width: 700px;
  height: 120px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(208, 208, 208);
  color: rgb(24, 24, 24);
}
#example2{
  width: 700px;
  height: 50px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(208, 208, 208);
  color: black;
}
#example3{
  width: 700px;
  height: 140px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(208, 208, 208);
  color: rgb(24, 24, 24);
}
#example4{
  width: 700px;
  height: 60px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(208, 208, 208);
  color: rgb(24, 24, 24);
}
#test{
  padding: 10px 25px;
  color: rgb(0, 0, 205);
}
.next{
  float: right;
  bottom: 30px;
  margin: 0px 100px 30px 0px;
  padding: 10px;
  width: 90px;
  height: 50px;
  color: white;
  border: 1px solid black;
  background-color: black;
  -webkit-transition: 0.6s;
  transition: 0.6s

}
.previous{
  float: left;
  bottom: 30px;
  margin: 0px 0px 30px 30px;
  padding: 10px;
  width: 90px;
  height: 50px;
  color: white;
  border: 1px solid black;
  background-color: black;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.next:hover{
  cursor: pointer;
  color: black;
  background-color: white;
}
.previous:hover{
  cursor: pointer;
  color: black;
  background-color: white;
}
.section-footer footer{
  width: 97.3%;
  height: 180px;
  padding: 20px;
  margin-top: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
}

.social{
  margin-right: 7%;
}
.footer ab {
  float: right;
  margin-top: 40px;
  margin-right: 40px;
  padding-left: 10px;
}
.foot{
  margin-top: -10px;
  margin-left: 20%;
}
.foot a{
  margin-left: 8px;
  padding: 10px;
  color: rgb(0, 0, 205);
}
